In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('../occupancy_data/whole_data.csv').drop('Unnamed: 0', 1)

In [40]:
df

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,2015-02-04 17:51:00,23.180000,27.272000,426.000000,721.250000,0.004793,1
1,2015-02-04 17:51:59,23.150000,27.267500,429.500000,714.000000,0.004783,1
2,2015-02-04 17:53:00,23.150000,27.245000,426.000000,713.500000,0.004779,1
3,2015-02-04 17:54:00,23.150000,27.200000,426.000000,708.250000,0.004772,1
4,2015-02-04 17:55:00,23.100000,27.200000,426.000000,704.500000,0.004757,1
5,2015-02-04 17:55:59,23.100000,27.200000,419.000000,701.000000,0.004757,1
6,2015-02-04 17:57:00,23.100000,27.200000,419.000000,701.666667,0.004757,1
7,2015-02-04 17:57:59,23.100000,27.200000,419.000000,699.000000,0.004757,1
8,2015-02-04 17:58:59,23.100000,27.200000,419.000000,689.333333,0.004757,1
9,2015-02-04 18:00:00,23.075000,27.175000,419.000000,688.000000,0.004745,1
10,2015-02-04 18:01:00,23.075000,27.150000,419.000000,690.250000,0.004741,1
11,2015-02-04 18:02:00,23.100000,27.100000,419.000000,691.000000,0.004739,1
12,2015-02-04 18:03:00,23.100000,27.166667,419.000000,683.500000,0.004751,1
13,2015-02-04 18:04:00,23.050000,27.150000,419.000000,687.500000,0.004734,1
14,2015-02-04 18:04:59,23.000000,27.125000,419.000000,686.000000,0.004715,1
15,2015-02-04 18:06:00,23.000000,27.125000,418.500000,680.500000,0.004715,1
16,2015-02-04 18:07:00,23.000000,27.200000,0.000000,681.500000,0.004728,0
17,2015-02-04 18:08:00,22.945000,27.290000,0.000000,685.000000,0.004728,0
18,2015-02-04 18:08:59,22.945000,27.390000,0.000000,685.000000,0.004745,0
19,2015-02-04 18:10:00,22.890000,27.390000,0.000000,689.000000,0.004730,0
20,2015-02-04 18:10:59,22.890000,27.390000,0.000000,689.500000,0.004730,0
21,2015-02-04 18:11:59,22.890000,27.390000,0.000000,689.000000,0.004730,0
22,2015-02-04 18:13:00,22.890000,27.445000,0.000000,691.000000,0.004739,0
23,2015-02-04 18:14:00,22.890000,27.500000,0.000000,688.000000,0.004749,0
24,2015-02-04 18:15:00,22.890000,27.500000,0.000000,689.500000,0.004749,0
25,2015-02-04 18:16:00,22.790000,27.445000,0.000000,689.000000,0.004710,0
26,2015-02-04 18:16:59,22.790000,27.500000,0.000000,685.666667,0.004720,0
27,2015-02-04 18:17:59,22.790000,27.500000,0.000000,687.000000,0.004720,0
28,2015-02-04 18:19:00,22.790000,27.500000,0.000000,688.000000,0.004720,0
29,2015-02-04 18:20:00,22.745000,27.500000,0.000000,670.000000,0.004707,0
...,...,...,...,...,...,...,...
17865,2015-02-18 08:50:00,20.790000,26.890000,7.000000,1472.400000,0.004080,0
17866,2015-02-18 08:51:00,20.823333,26.926667,9.333333,1482.333333,0.004094,0
17867,2015-02-18 08:51:59,20.890000,27.000000,4.666667,1492.000000,0.004122,0
17868,2015-02-18 08:53:00,20.865000,26.945000,7.000000,1469.000000,0.004107,0
17869,2015-02-18 08:54:00,20.840000,26.895000,7.000000,1463.500000,0.004093,0
17870,2015-02-18 08:55:00,20.815000,26.815000,7.000000,1471.750000,0.004075,0
17871,2015-02-18 08:55:59,20.865000,26.865000,7.000000,1500.250000,0.004095,0
17872,2015-02-18 08:57:00,20.823333,26.893333,9.333333,1514.000000,0.004089,0
17873,2015-02-18 08:57:59,20.815000,26.892500,13.500000,1499.250000,0.004087,0
17874,2015-02-18 08:58:59,20.856667,26.890000,20.666667,1485.666667,0.004097,0
17875,2015-02-18 09:00:00,20.865000,26.865000,17.000000,1476.250000,0.004095,0
17876,2015-02-18 09:01:00,20.865000,26.865000,12.000000,1462.500000,0.004095,0
17877,2015-02-18 09:02:00,20.840000,26.840000,7.000000,1452.500000,0.004085,0
17878,2015-02-18 09:03:00,20.815000,26.815000,7.000000,1448.000000,0.004075,0
17879,2015-02-18 09:04:00,20.823333,26.823333,13.333333,1448.666667,0.004078,0
17880,2015-02-18 09:04:59,20.815000,26.815000,11.500000,1443.250000,0.004075,0
17881,2015-02-18 09:06:00,20.790000,26.790000,10.000000,1450.500000,0.004065,0
17882,2015-02-18 09:07:00,20.840000,26.840000,12.000000,1446.500000,0.004085,0
17883,2015-02-18 09:08:00,20.790000,26.790000,14.000000,1444.666667,0.004065,0
17884,2015-02-18 09:08:59,20.790000,26.767500,10.000000,1455.000000,0.004061,0
17885,2015-02-18 09:10:00,20.790000,26.745000,50.750000,1463.750000,0.004058,0
17886,2015-02-18 09:10:59,20.790000,27.122500,296.000000,1467.000000,0.004116,1
17887,2015-02-18 09:11:59,20.790000,27.030000,419.000000,1488.000000,0.004101,1
17888,2015-02-18 09:13:00,20.790000,27.296667,429.000000,1486.000000,0.004142,1
17889,2015-02-18 09:14:00,20.815000,27.417500,430.750000,1511.750000,0.004167,1
17890,2015-02-18 09:15:00,20.815000,27.717500,429.750000,1505.250000,0.004213,1
17891,2015-02-18 09:16:00,20.865000,27.745000,423.500000,1514.500000,0.004230,1
17892,2015-02-18 09:16:59,20.890000,27.745000,423.500000,1521.500000,0.004237,1
17893,2015-02-18 09:17:59,20.890000,28.022500,418.750000,1632.000000,0.004279,1
17894,2015-02-18 09:19:00,21.000000,28.100000,409.000000,1864.000000,0.004321,1

In [37]:
17895/100*70

12526.5

In [38]:
17895/100*30

5368.5

In [27]:
df_train = df[0:12527]

In [29]:
df_test = df[12528:]

In [32]:
df_train.to_csv('../occupancy_data/training_ts.csv')

In [33]:
df_test.to_csv('../occupancy_data/test_ts.csv')